body{
    background-image: url("fond.png");
    background-size: 1920px 1580px;
    background-repeat: no-repeat;
}

*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family: "Roboto Slab", serif;
    font-style: normal;
    font-size: 20px;
}

.article{
    display:flex;
    flex-wrap: wrap;
    align-items: center;
}



.custom-text{
    margin-left: 300px;
    margin-right: 300px;
    margin-top:50px;
    font-family: "Anton", sans-serif;
    font-weight: 350;
    font-style: normal;
    font-size: 75px;
    border: 5px solid rgb(255, 128, 0);
    text-align: center;
    color :rgb(255, 128, 0)
    }

.deck1{
    font-family: "Roboto Slab", serif;
    font-weight: 400;
    position: absolute;
    top: 33%;
    left: 76%;
    transform: translate(-50%, -50%);
    z-index: 1 ;
    font-style: normal;
    font-size: 35px;
    border: 3px solid rgb(89, 0, 255);
    text-align: center;
    color :rgb(89, 0, 255)
    }


.pack1{
    font-family: "Roboto Slab", serif;
    font-weight: 400;
    position: absolute;
    top: 33%;
    left: 23%;
    transform: translate(-50%, -50%);
    z-index: 1 ;
    font-style: normal;
    font-size: 45px;
    border: 3px solid rgb(89, 0, 255);
    text-align: center;
    color :rgb(89, 0, 255)
    }

.bouton1
{
    width : 512px;
    height : 600px;
    margin-top:100px;
    margin-left: 100px;
    width: 512px;
    border: 5px solid rgb(9, 2, 105);
    display : block; 
    background : url("vegeta.png")no-repeat;
}

.bouton1:hover
{
    background-image : url("vegetablue.png");
    width: 512px;
    height: 600px;
    border: 5px solid rgb(9, 2, 105);
}


.bouton2
{
    width : 512px;
    height : 600px;
    margin-left: 300px;
    margin-top:100px;
    width: 512px;
    border: 5px solid rgb(9, 2, 105);
    display : block; 
    background : url("gokuu.png")no-repeat;
}

.bouton2:hover
{
    background-image : url("gokuui.png");
    width: 512px;
    height: 600px;
    border: 5px solid rgb(9, 2, 105);
}

.logo
{
    width : 100px;
    height : 100px;
    margin-top: 20px;
    margin-left: 20px;
    width: 100px;
    border: 5px solid rgb(53, 1, 1);
    display : block; 
    background : url("logo.png")no-repeat;
}
.custom-text2{
    font-family: "Anton", sans-serif;
    font-weight: 350;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1 ;
    font-style: normal;
    font-size: 65px;
    width: 1000px;
    border: 5px solid rgb(255, 128, 0);
    text-align: center;
    color :rgb(255, 128, 0)
    }

.carte{
    margin-top: 50px;
    width: calc( 100% / 4);
    height: 465px;
}
.X
{
    width : 32x;
    height : 32px;
    margin-top: 20px;
    margin-left: 20px;
    display : block; 
    background : url("reseaux-sociaux.png")no-repeat;
}

.youtube
{
    width : 32x;
    height : 32px;
    margin-top: 20px;
    margin-left: 20px;
    display : block; 
    background : url("youtube.png")no-repeat;
}

.instagram
{
    width : 32x;
    height : 32px;
    margin-top: 20px;
    margin-left: 20px;
    display : block; 
    background : url("instagram.png")no-repeat;
}

.facebook
{
    width : 32x;
    height : 32px;
    margin-top: 20px;
    margin-left: 20px;
    display : block; 
    background : url("facebook.png")no-repeat;
}
.footer1{
    width: calc( 100% / 3);
    height: 200px;
    margin-top: 100px;
    
}
.footerbloc{
    margin-top: 50px;
    height: 350px;
    border: 5px solid rgb(255, 255, 255);
    background-color: rgb(255 255 255 / 50%);
}

.container {
    display: flex; /* Permet d'aligner les éléments enfants en ligne */
}

.choixP {
    margin-top: 50px;
    margin-left: 20px;
    width: 250px;
    height: 600px;
    border: 5px solid rgb(43, 1, 64);
    background-color: rgba(82, 0, 114, 0.5);
}

.section4 {
    display: flex;
    margin-left: 20px; /* Espace entre les deux sections */
}

.article {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Espace entre les éléments */
    width: 100%; /* S'assurer que ça utilise toute la largeur disponible */
}

.booster {
    margin: 10px; /* Espace autour de chaque booster */
    width: calc( ); /* Ajustement pour le padding */
    height: 500px;
}
@media screen and (max-width: 800px) { 
}